<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>
  </head>
  <body>
    <div class="container">
        <% include partials/navbar %>
        <% include partials/jumbotron %>
    </div>
    <% include partials/scripts %>
  </body>
</html>
