<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header %>
</head>
<body>
<div class="container">
    <% include ../partials/navbar %>
    <div class="row">
        <div class="col-sm-12">
            <h1><span class="label label-danger">Error : <%= title %></span></h1>
            <br>
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Error : <%= body %>
            </div>
            <% if(typeof redirect == 'undefined') {%>
                <button type="button" class="btn btn-danger" onclick="history.go(-1);">Go Back</button>
            <% } else {%>
                <a href="<%= redirect %>"><button type="button" class="btn btn-danger">Go Back</button></a>
            <% }%>
        </div>
    </div>
</div>
<% include ../partials/scripts %>
</body>
</html>
